* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    overflow: hidden;
    -webkit-user-select: none;
}

.selection-box {
    outline: black 2px dashed;
    position: absolute;
}

.border-layout {
    position: absolute;
}

#north {
    background-color: white;
    bottom: 85%;
    left: 150px;
    right: 0;
    top: 0;
}

button {
    background-color: -webkit-linear-gradient(to bottom, #fbfbfb, #e1e1e1);
    border: 1px solid #d4d4d4;
    border-radius: 25px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), 0 1px 2px rgba(0, 0, 0, .15);
    color: #666;
    margin: 0.5em;
    outline: none;
    padding: 25px;
}

button:hover {
    cursor: pointer;
    background-color: #eee;
}

#south {
    bottom: 0;
    color: #b1b3b5;
    font-size: 16px;
    left: 150px;
    padding: 20px;
    right: 0;
    top: 85%;
    -webkit-user-select: text;
}

#west {
    background-color: #415765;
    bottom: 0;
    overflow-y: hidden;
    padding: 10px;
    top: 0;
    width: 150px;
}

#west input {
    background-color: #fcfcfc;
    border: 1px solid #acb1b7;
    color: #acacac;
    padding: 6px 15px 6px 15px;
    width: 100%;
}

#center {
    background-color: #f4f8fb;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    bottom: 15%;
    color: #b1b3b5;
    left: 150px;
    overflow: hidden;
    padding: 20px;
    right: 0;
    top: 15%;
}

#blocks {
    height: 100%;
    margin-top: 20px;
    overflow-y: auto;
}

#blocks .block {
    cursor: move;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.block {
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
    height: 100px;
    text-align: center;
    width: 100px;
}

.dragged {
    opacity: 0.5;
    position: absolute;
}